<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="bg-dark">
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3">
    <h1 class="text-center custom-light">All Categories</h1>
    <hr class="hr-2 w-75">
    <table class="table table-hover w-75 mx-auto bg-custom custom-light">
        <thead>
        <tr class="row mx-auto">
            <th class="col-md-2 text-center">#</th>
            <th class="col-md-5 text-center">Name</th>
            <th class="col-md-5 text-center">Actions</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="category, iter : ${categories}">
            <tr class="row mx-auto">
                <th class="col-md-2 text-center" th:text="${iter.index + 1}"></th>
                <td class="col-md-5 text-center"  th:text="${category.name}"></td>
                <td class="col-md-5 text-center">
                    <a th:href="@{/admin/categories/edit/{id}(id=${category.id})}" class="btn btn-success">Edit</a>
                    <a th:href="@{/admin/categories/delete/{id}(id=${category.id})}"  class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <hr class="hr-2">
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>